.DS_Store
.settings
.springBeans
.gradle
bin

/build
buildSrc/build
/spring-*/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF
.idea
