<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- Configures the @Controller programming model -->
	<mvc:annotation-driven>
		<mvc:argument-resolvers>
			<bean class="com.jce.commons.controller.LoginSessionArgumentResolver">
				<property name="authContext" ref="authContext" />
			</bean>
		</mvc:argument-resolvers>
	</mvc:annotation-driven>

	<!-- customization to search RequestMapping in the parent context -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<property name="detectHandlerMethodsInAncestorContexts" value="true" />
	</bean>
	
	<!-- Configuration Interceptor -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/test/*"/>
			<mvc:mapping path="/member/*"/>
			<bean class="com.jce.commons.interceptor.RequestInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- resources exclusions from servlet mapping -->
	<mvc:resources mapping="/*" location="/" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	
	<!--  Forwards requests to the path resource to the view-name  example) localhost/ mapping template /index.ftl  -->
	<mvc:view-controller path="/" view-name="/welcome"/>
	
</beans>
