<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- Set constants variables  -->
	<bean id="siteConstService" class="com.jce.commons.service.SiteConstService" scope="singleton">
		<property name="SITECONST_PUBLIC">
			<map>
				<entry key="DOMAIN" value="http://xxx.joycity.com" />
				<entry key="DOMAIN_SIMAGE" value="http://imgdg.joycity.com" />
				<entry key="DOMAIN_PIMAGE" value="http://imgfile.joycity.com" />
				<entry key="SITE_CODE" value="0" />
				<entry key="DBFAIL_URL" value="http://xxx.joycity.com" />
			</map>
		</property>
		<property name="SITECONST_SECURE">
			<map>
				<entry key="COOKIE_DOMAIN" value=".joycity.com" />
				<entry key="CRYPTOKEY" value="jce1234" />
				<entry key="TRAFFIC_QUEUE_SIZE" value="35" />
				<entry key="TRAFFIC_COUNT" value="30" />
				<entry key="TRAFFIC_PAGE" value="/common/traffic_error" />
			</map>
		</property>
	</bean>
	
</beans>
