.DS_Store
.idea
.settings
.springBeans
.gradle
bin

/build
buildSrc/build
/spring-*/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
.factorypath
spring-*/src/main/java/META-INF/MANIFEST.MF
/.apt_generated/
