<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p - %C{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

	<appender name="FILEAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="/var/log/web/prototype_maven_build"/>
		<param name="append" value="true"/>
		<param name="datePattern" value="'_'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{MMM dd hh:mm:ss aa} %p - %C{1}.%M(%L) | %m%n"/>
		</layout>
	</appender>

    <appender name="ADVICECONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p - %m%n"/>
        </layout>
    </appender>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

    <logger name="com.jce">
        <level value="WARN"/>
    </logger>

    <root>
        <level value="WARN"/>
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILEAPPENDER"/>
    </root>
	
</log4j:configuration>
