<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
	    <encoder>
	      <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}][%thread][%-5level][%logger{0}] %msg%n</pattern>
	    </encoder>
	</appender>
 
    <logger name="org.springframework" level="INFO" />
 
 	<logger name="com.stunstun.spring" level="DEBUG" />
 
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    
</configuration>